<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'exchange_rate.page_title'|trans({}, 'roc_exchange_rate') }}{% endblock title %}
        </title>
    </head>
    <body>

        {% block body %}
        {% endblock body %}

    </body>
</html>