<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>

    {% block flash_messages %}

        {% include '@ExchangeRate/_flash.html.twig' %}

    {% endblock flash_messages %}

    {% block body %}

    {% endblock body %}

    </body>
</html>