{% extends '@ExchangeRate/layout.html.twig' %}

{% block title %}{{ 'list.title' | trans({}, 'runopencode_exchange_rate') }}{% endblock title %}

{% block body %}

    {% block exchange_rates %}

        {% include '@ExchangeRate/_table.html.twig' with { 'rates': rates } only %}

    {% endblock exchange_rates %}

    {% block filters %}

        {% include '@ExchangeRate/_filter_form.html.twig' with { 'form': form } %}

    {% endblock %}

    {% if is_granted('CREATE', '\\RunOpenCode\\ExchangeRate\\Contract\\RateInterface') %}

        {% block generic_action_create %}

            <a href="{{ path('runopencode_exchange_rate_create') }}">
                {{ 'actions.generic.create' | trans({}, 'runopencode_exchange_rate') }}
            </a>

        {% endblock generic_action_create %}

    {% endif %}

{% endblock body %}
