{% block subject %}{{ 'mail.success.title' | trans({ '{{ date }}': date | date('Y-m-d H:i:s') }, 'runopencode_exchange_rate') }}{% endblock subject %}
{% block body %}

    {% for source, fetched in rates %}

        <h1>{{ source }}:</h1>

        {% include '@ExchangeRate/mail/_table.html.twig' with { rates: fetched } only %}

    {% endfor %}

{% endblock body %}